

*

!Dockerfile
!requirements.txt
!pyproject.toml
!README.md
!src/
!scripts/
!*.py

.git
.env

__pycache__/
*.pyc

.vscode/

data/
artifacts/
*.pth
wandb/

.dvc/
.nicegui/
.VScodeCounter
.tmp.driveupload

/secrets
.DS_Store

*.wandb
*.sqlite
__pycache__

.git
.vscode
__pycache__
wandb/
artifacts/
data/
*.wandb
*.sqlite
*.pth
*.bin
*.safetensors


